<html>
<head>
<title>Virtual Auction House</title>
</head>
	<body>
		<table>
			<tr>
				<td colspan="2">
					<div>$user, logged in</div>
				</td>
				
			</tr>
			<tr>
				<td>
					Cash: 
				</td>
				<td>
					$userdata.cash
				</td>
			</tr>
			#set( $arr = $userdata.items.size() / 2 )
			#foreach ( $i in [1..$arr] )
			<tr>
				<td #if ( $userdata.isAuction($userdata.items[$i].name) )  style="color:red"  #end>
					$userdata.items[$i].name
				</td>
				<td>
					$userdata.items[$i].name
				</td>
			</tr>
			#end
		</table>
	</body>
<html>