<html>
<head>
<title>Virtual Auction House</title>
</head>
	<body>
		<form action="register_user" method="post"> 
			<table>
				<tr>
					<td>
						Username:
					</td>
					<td>
						<input type="text" name="user">
					</td>
					<td rowspan="3">
						<p style="color: red">$error</p>
					</td>
				</tr>
				<tr>
					<td>
						Password:
					</td>
					<td>
						<input type="password" name="password">
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<input type="submit" value="Register">
					</td>	
				</tr>
			</table>
	</body>
<html>